<template>
  <div class="products-page-3">
    <!-- return & title 0s -->
    <transition name="slide-fade">
      <img v-if="timeUsed > 200" class="title" src="~@/assets/products/header.svg">
    </transition>

    <transition name="slide-fade">
      <img v-if="timeUsed > 400" class="btn-back" src="~@/assets/common/back-button.svg" @click="backPressed">
    </transition>

    <div class="left-part">
      <transition-group name="slide-fade">
        <img v-if="timeUsed > 600" key="left-bg" class="left__bg" src="~@/assets/products/3/left-bg.svg" alt="">
        <img v-if="timeUsed > 800" key="left-text-1" class="left-text-1" src="~@/assets/products/3/left-text-1.svg" alt="">
        <img v-if="timeUsed > 1000" key="left-text-2" class="left-text-2" src="~@/assets/products/3/left-text-2.svg" alt="">
        <img v-if="timeUsed > 1200" key="left-text-3" class="left-text-3" src="~@/assets/products/3/left-text-3.svg" alt="">
        
        <div v-if="timeUsed > 600" key="left-slash" class="slash-group" :class="{ active: timeUsed > 800 }">
          <img src="~@/assets/products/3/slash-left.svg" alt="" class="slash-item">
          <img src="~@/assets/products/3/slash-left.svg" alt="" class="slash-item">
          <img src="~@/assets/products/3/slash-left.svg" alt="" class="slash-item">
          <img src="~@/assets/products/3/slash-left.svg" alt="" class="slash-item">
        </div>
      </transition-group>
    </div>

    <div class="top-part">
      <transition-group name="slide-fade">
        <img v-if="timeUsed > 1400" key="top-bg" class="top__bg" src="~@/assets/products/3/right-card-bg.svg" alt="">
        <img v-if="timeUsed > 1600" key="top-btn-1" class="top-btn-1" src="~@/assets/products/3/top-btn-1.svg" alt="" @click="() => listContent('ProductsPage4')" style="cursor: pointer;">
        <div v-if="timeUsed > 1600" key="left-arrow" class="arrow-group arrow-group--left">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
        </div>
        <img v-if="timeUsed > 1600" key="top-icon" class="top-icon" src="~@/assets/products/3/top-icon.svg" alt="">
        <div v-if="timeUsed > 1600" key="right-arrow" class="arrow-group arrow-group--right">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
        </div>
        <img v-if="timeUsed > 1600" key="top-btn-2" class="top-btn-2" src="~@/assets/products/3/top-btn-2.svg" alt="" @click="() => listContent('ProductsPage4')" style="cursor: pointer;">
        <img v-if="timeUsed > 1600" key="top-btn-3" class="top-btn-3" src="~@/assets/products/3/top-btn-3.svg" alt="">
      </transition-group>
    </div>

    <div class="bottom-part">
      <transition-group name="slide-fade">
        <img v-if="timeUsed > 1800" key="bottom-bg" class="bottom__bg" src="~@/assets/products/3/right-card-bg.svg" alt="">
        <img v-if="timeUsed > 2000" key="bottom-btn-1" class="bottom-btn-1" src="~@/assets/products/3/bottom-btn-1.svg" alt="">
        <div v-if="timeUsed > 2000" key="left-arrow" class="arrow-group arrow-group--left">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
        </div>
        <img v-if="timeUsed > 2000" key="bottom-icon" class="bottom-icon" src="~@/assets/products/3/bottom-icon.svg" alt="">
        <div v-if="timeUsed > 2000" key="right-arrow" class="arrow-group arrow-group--right">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
        </div>
        <img v-if="timeUsed > 2000" key="bottom-btn-2" class="bottom-btn-2" src="~@/assets/products/3/bottom-btn-2.svg" alt="">
        <img v-if="timeUsed > 2000" key="bottom-btn-3" class="bottom-btn-3" src="~@/assets/products/3/bottom-btn-3.svg" alt="">
      </transition-group>
    </div>

    <img v-if="timeUsed > 2000"  class="btn--prev" src="~@/assets/products/prev.svg" @click="() => listContent('ProductsPage2')">
    <img v-if="timeUsed > 2000"  class="btn--next" src="~@/assets/products/next.svg" @click="() => listContent('ProductsPage4')">
  </div>
</template>

<script>
import "@/common/font/font.css"

export default {
  name: 'ProductsPage3',
  data () {
    return {
      timeUsed: 0
    }
  },
  watch: {
    timeUsed(val) {
      setTimeout(() => {
        this.timeUsed += 200
      }, 200)
    }
  },
  mounted () {
    setTimeout(() => {
      this.timeUsed += 200
    }, 200)
  },
  methods: {
    listContent (type) {
      // 传入每个组建对应名称
      this.$emit('listContent', type, true)
    },
    backPressed() {
      window.location.reload()
    },
  },
}
</script>


<style scoped>

.products-page-3{
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.title {
  position: absolute;
  top: 0;
  left: 3.7%;
  width: 96.30%;
  z-index: 2;
}
.btn-back {
  position: absolute;
  top: 2.6%;
  left: 2%;
  width: 6.615%;
  height: 4.074%;
  cursor: pointer;
  z-index: 3;
}
.left-part {
  position: absolute;
  top: 15.93%;
  width: 25%;
  height: 72.69%;
  left: 6.98%;
}

.left__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.left-text-1 {
  position: absolute;
  width: 58.333333%;
  height: 10.45%;
  top: 10%;
  left: 7%;
}
.left-text-2 {
  position: absolute;
  width: 80%;
  height: 21%;
  top: 32%;
  left: 10%;
}
.left-text-3 {
  position: absolute;
  width: 80%;
  height: 35%;
  bottom: 5%;
  left: 10%;
}
.slash-group {
  position: absolute;
  width: 21.666667%;
  height: 5%;
  top: 12.5%;
  right: 8%;
}
.slash-item {
  position: absolute;
  top: 0;
  /* height: 100%; */
  width: 30%;
}
.slash-group .slash-item:nth-child(1) { left: 0; opacity: 1; }
.slash-group .slash-item:nth-child(2) { left: 20%; opacity: 0.8; }
.slash-group .slash-item:nth-child(3) { left: 40%; opacity: 0.6; }
.slash-group .slash-item:nth-child(4) { left: 60%; opacity: 0.4; }

.slash-group.active .slash-item:nth-child(1) {
  animation: arrow-flicker .5s ease-in-out infinite; 
}
.slash-group.active .slash-item:nth-child(2) {
  animation: arrow-flicker .5s ease-in-out infinite .1s; 
}
.slash-group.active .slash-item:nth-child(3) {
  animation: arrow-flicker .5s ease-in-out infinite .2s; 
}
.slash-group.active .slash-item:nth-child(4) {
  animation: arrow-flicker .5s ease-in-out infinite .3s; 
}

.top-part {
  position: absolute;
  width: 57.865%;
  height: 35.65%;
  left: 35.73%;
  top: 16%; 
}
.bottom-part {
  position: absolute;
  width: 57.865%;
  height: 35.65%;
  left: 35.73%;
  top: 54.72222%; 
}
.top__bg,
.bottom__bg {
  width: 100%;
  height: 100%;
}

.top-btn-1,
.bottom-btn-1 {
  position: absolute;
  width: 24.21%;
  height: 26.49%;
  left: 6%;
  top: 31%;
}

.top-icon {
  position: absolute;
  width: 23.04%;
  height: 66.5%;
  left: 35%;
  top: 10.75%;
}
.bottom-icon {
  position: absolute;
  width: 14.4%;
  height: 42.1%;
  left: 39.4%;
  top: 24%;
}

.top-btn-2,
.bottom-btn-2 {
  position: absolute;
  width: 30.5%;
  height: 26.49%;
  right: 6%;
  top: 31%;
}
.top-btn-3,
.bottom-btn-3 {
  position: absolute;
  width: 18%;
  left: 38%;
  height: 11.43%;
  bottom: 15%;
}
.arrow-group {
  position: absolute;
  width: 4.5%;
  height: 8%;
  top: 41%;
}
.arrow-group--left {
  left: 33%;
}
.arrow-group--right {
  right: 38%;
}
.arrow {
  height: 100%;
  width: 33.33333%;
  margin: 0 -10%;
}
.arrow-group--left .arrow:nth-child(1),
.arrow-group--right .arrow:nth-child(1) { 
  animation: arrow-flicker .5s ease-in-out infinite; 
}
.arrow-group--left .arrow:nth-child(2),
.arrow-group--right .arrow:nth-child(2) { 
  animation: arrow-flicker .5s ease-in-out infinite .1s; 
}
.arrow-group--left .arrow:nth-child(3),
.arrow-group--right .arrow:nth-child(3) { 
  animation: arrow-flicker .5s ease-in-out infinite .2s; 
}
.btn-detail {
  position: absolute;
  width: 17.86%;
  height: 7.5%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.btn--prev {
  position: absolute;
  width: 6.6%;
  height: 4%;
  bottom: 2%;
  left: 2%;
  cursor: pointer;
}
.btn--next {
  position: absolute;
  width: 6.6%;
  height: 4%;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
}
.slide-fade-enter-active {
  transition: opacity 0.5s ease;
  opacity: 1;
}
.slide-fade-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}

.upward-fade-enter-active {
  transition: all 0.5s ease;
  opacity: 1;
}
.upward-fade-leave-active {
  transition: all 0.01s ease;
}
.upward-fade-enter {
  transform: translateY(20px);
  opacity: 0;
}
.upward-fade-leave-to /* .upward-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}


@keyframes arrow-flicker {
  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}

@keyframes rotate-in {
  0% {
  transform: rotate(-360deg) scale(0);
  }
  50% {
  transform: rotate(-360deg) scale(0.1);
  }
  100% {
  transform: rotate(0) scale(1);
  }
}

@keyframes rotate-ball {
  0% {
  transform: rotate(360deg);
  }
  50% {
  transform: rotate(0);
  }
  100% {
  transform: rotate(-360deg);
  }
}


</style>