<template>
  <div class="products-page-2">
    <!-- return & title 0s -->
    <transition name="slide-fade">
      <img v-if="timeUsed > 200" class="title" src="~@/assets/products/header.svg">
    </transition>

    <transition name="slide-fade">
      <img v-if="timeUsed > 400" class="btn-back" src="~@/assets/common/back-button.svg" @click="backPressed">
    </transition>

    <div class="card card--left">
      <transition-group name="slide-fade">
        <img v-if="timeUsed > 600" key="card-bg" class="card__bg" src="~@/assets/products/2/card-1.svg" alt="">
        <img v-if="timeUsed > 800" key="card-content" class="card__content" src="~@/assets/products/2/content-1.svg" alt="">
        
        <div v-if="timeUsed > 1000" key="left-arrow" class="arrow-group arrow-group--left">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
        </div>
        <div v-if="timeUsed > 1000" key="right-arrow" class="arrow-group arrow-group--right">
          <img src="~@/assets/products/2/arrow-left.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-left.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-left.svg" alt="" class="arrow">
        </div>
      </transition-group>
    </div>

    <div class="card card--right">
      <transition-group name="slide-fade">
        <img v-if="timeUsed > 1200" key="card-bg" class="card__bg" src="~@/assets/products/2/card-2.svg" alt="">
        <img v-if="timeUsed > 1400" key="card-content" class="card__content" src="~@/assets/products/2/content-2.svg" alt="">
        
        <div v-if="timeUsed > 1600" key="left-arrow" class="arrow-group arrow-group--left">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-right.svg" alt="" class="arrow">
        </div>
        <div v-if="timeUsed > 1600" key="right-arrow" class="arrow-group arrow-group--right">
          <img src="~@/assets/products/2/arrow-left.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-left.svg" alt="" class="arrow">
          <img src="~@/assets/products/2/arrow-left.svg" alt="" class="arrow">
        </div>
      </transition-group>
    </div>

    <transition name="slide-fade">
      <img v-if="timeUsed > 1800" class="btn-detail" src="~@/assets/products/2/btn-detail.svg" @click="() => listContent('ProductsPage3')">
    </transition>

    <img v-if="timeUsed > 2000"  class="btn--prev" src="~@/assets/products/prev.svg" @click="() => listContent('Products')">
    <img v-if="timeUsed > 2000"  class="btn--next" src="~@/assets/products/next.svg" @click="() => listContent('ProductsPage3')">
  </div>
</template>

<script>
import "@/common/font/font.css"

export default {
  name: 'ProductsPage2',
  data () {
    return {
      timeUsed: 0
    }
  },
  watch: {
    timeUsed(val) {
      setTimeout(() => {
        this.timeUsed += 200
      }, 200)
    }
  },
  mounted () {
    setTimeout(() => {
      this.timeUsed += 200
    }, 200)
  },
  methods: {
    listContent (type) {
      // 传入每个组建对应名称
      this.$emit('listContent', type, true)
    },
    backPressed() {
      window.location.reload()
    },
  },
}
</script>


<style scoped>

.products-page-2{
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.title {
  position: absolute;
  top: 0;
  left: 3.7%;
  width: 96.30%;
  z-index: 2;
}
.btn-back {
  position: absolute;
  top: 2.6%;
  left: 2%;
  width: 6.615%;
  height: 4.074%;
  cursor: pointer;
  z-index: 3;
}

.caption {
  position: absolute;
  left: 9%;
  top: 17%;
  width: 82%;
  height: 16.6666667%;
}

.card {
  position: absolute;
  top: 22.41%;
  width: 29%;
  height: 51.76%;
}
.card--left {
  left: 17.24%;
}
.card--right {
  right: 17.24%;
}
.card__bg,
.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.arrow-group {
  position: absolute;
  width: 9.2%;
  height: 5.6%;
  top: 25%;
  /* margin-left: -5.43%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.arrow-group--left {
  left: 18%;
}
.arrow-group--right {
  right: 18%;
}
.arrow {
  height: 100%;
  width: 33.33333%;
  margin: 0 -10%;
}
.arrow-group--left .arrow:nth-child(1),
.arrow-group--right .arrow:nth-child(3) { 
  animation: arrow-flicker .5s ease-in-out infinite; 
}
.arrow-group--left .arrow:nth-child(2),
.arrow-group--right .arrow:nth-child(2) { 
  animation: arrow-flicker .5s ease-in-out infinite .1s; 
}
.arrow-group--left .arrow:nth-child(3),
.arrow-group--right .arrow:nth-child(1) { 
  animation: arrow-flicker .5s ease-in-out infinite .2s; 
}
.btn-detail {
  position: absolute;
  width: 17.86%;
  height: 7.5%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.btn--prev {
  position: absolute;
  width: 6.6%;
  height: 4%;
  bottom: 2%;
  left: 2%;
  cursor: pointer;
}
.btn--next {
  position: absolute;
  width: 6.6%;
  height: 4%;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
}
.slide-fade-enter-active {
  transition: opacity 0.5s ease;
  opacity: 1;
}
.slide-fade-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}

.upward-fade-enter-active {
  transition: all 0.5s ease;
  opacity: 1;
}
.upward-fade-leave-active {
  transition: all 0.01s ease;
}
.upward-fade-enter {
  transform: translateY(20px);
  opacity: 0;
}
.upward-fade-leave-to /* .upward-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}


@keyframes arrow-flicker {
  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}

@keyframes rotate-in {
  0% {
  transform: rotate(-360deg) scale(0);
  }
  50% {
  transform: rotate(-360deg) scale(0.1);
  }
  100% {
  transform: rotate(0) scale(1);
  }
}

@keyframes rotate-ball {
  0% {
  transform: rotate(360deg);
  }
  50% {
  transform: rotate(0);
  }
  100% {
  transform: rotate(-360deg);
  }
}


</style>