<template>
  <div class="products-page-4">
    <!-- return & title 0s -->
    <transition name="slide-fade">
      <img v-if="timeUsed > 200" class="title" src="~@/assets/products/header.svg">
    </transition>

    <transition name="slide-fade">
      <img v-if="timeUsed > 400" class="btn-back" src="~@/assets/common/back-button.svg" @click="backPressed">
    </transition>

    <transition name="slide-fade">
      <img v-if="timeUsed > 600" class="left-1" src="~@/assets/products/4/left-1.svg">
    </transition>
    <transition name="slide-fade">
      <img v-if="timeUsed > 800" class="left-2" src="~@/assets/products/4/left-2.svg">
    </transition>
    <transition name="slide-fade">
      <img v-if="timeUsed > 1000" class="left-3" src="~@/assets/products/4/left-3.svg">
    </transition>
    <transition name="slide-fade">
      <img v-if="timeUsed > 1200" class="left-4" src="~@/assets/products/4/left-4.svg">
    </transition>
    <transition name="slide-fade">
      <img v-if="timeUsed > 1400" class="left-5" src="~@/assets/products/4/left-5.svg">
    </transition>

    <transition name="slide-fade">
      <img v-if="timeUsed > 1600" class="center-1" src="~@/assets/products/4/center-1.svg">
    </transition>
    <transition name="slide-fade">
      <img v-if="timeUsed > 1800" class="center-2" src="~@/assets/products/4/center-2.svg">
    </transition>
    <transition name="slide-fade">
      <img v-if="timeUsed > 2000" class="center-3" src="~@/assets/products/4/center-3.svg">
    </transition>
    <transition name="slide-fade">
      <img v-if="timeUsed > 2200" class="center-4" src="~@/assets/products/4/center-4.svg">
    </transition>
    <transition name="slide-fade">
      <img v-if="timeUsed > 2400" class="center-5" src="~@/assets/products/4/center-5.svg">
    </transition>

    <transition name="slide-fade">
      <img v-if="timeUsed > 2600" class="right-1" src="~@/assets/products/4/right.svg">
    </transition>
    <transition name="slide-fade">
      <div v-if="timeUsed > 2600" class="slash-group" :class="{ active: timeUsed > 2800 }">
        <img src="~@/assets/products/3/slash-left.svg" alt="" class="slash-item">
        <img src="~@/assets/products/3/slash-left.svg" alt="" class="slash-item">
        <img src="~@/assets/products/3/slash-left.svg" alt="" class="slash-item">
        <img src="~@/assets/products/3/slash-left.svg" alt="" class="slash-item">
        <img src="~@/assets/products/3/slash-left.svg" alt="" class="slash-item">
      </div>
    </transition>

    <img v-if="timeUsed > 2000"  class="btn--prev" src="~@/assets/products/prev.svg" @click="() => listContent('ProductsPage3')">
  </div>
</template>

<script>
import "@/common/font/font.css"

export default {
  name: 'ProductsPage4',
  data () {
    return {
      timeUsed: 0
    }
  },
  watch: {
    timeUsed(val) {
      setTimeout(() => {
        this.timeUsed += 200
      }, 200)
    }
  },
  mounted () {
    setTimeout(() => {
      this.timeUsed += 200
    }, 200)
  },
  methods: {
    listContent (type) {
      // 传入每个组建对应名称
      this.$emit('listContent', type, true)
    },
    backPressed() {
      window.location.reload()
    },
  },
}
</script>


<style scoped>

.products-page-4{
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.title {
  position: absolute;
  top: 0;
  left: 3.7%;
  width: 96.30%;
  z-index: 2;
}
.btn-back {
  position: absolute;
  top: 2.6%;
  left: 2%;
  width: 6.615%;
  height: 4.074%;
  cursor: pointer;
  z-index: 3;
}

.left-1,
.left-2,
.left-3,
.left-4,
.left-5 {
  position: absolute;
  width: 8.3333333%;
  height: 15.93%;
  left: 2%;
}
.left-1 { top: 12.13%; }
.left-2 { top: 28.06%; }
.left-3 { top: 44%; }
.left-4 { top: 59.91%; }
.left-5 { 
  top: 75.833333%; 
  height: 12.222222%;
}

.center-1 {
  position: absolute;
  width: 42%;
  left: 24%;
  height: 13.6%;
  top: 11.02%;
}
.center-2, .center-3, .center-4, .center-5 {
  position: absolute;
  width: 61.04%;
  left: 14.06%;
}
.center-2 {
  height: 21.57%;
  top: 25.28%;
}
.center-3 {
  height: 26.85%;
  top: 48.98%;
}
.center-4 {
  height: 7.6%;
  top: 78.06%;
}
.center-5 {
  height: 7.6%;
  top: 87.87%;
}
.right-1 {
  position: absolute;
  width: 20.31%;
  height: 82.87%;
  left: 77.92%;
  top: 13.52%;
}

.slash-group {
  position: absolute;
  width: 6.7%;
  height: 2.96%;
  left: 89.11%;
  /* top: 19.72%; */
  top: 20.6%;
}
.slash-item {
  position: absolute;
  top: 0;
  height: 100%;
  width: 25%;
}
.slash-group .slash-item:nth-child(1) { left: 15%; opacity: 1; }
.slash-group .slash-item:nth-child(2) { left: 30%; opacity: 0.8; }
.slash-group .slash-item:nth-child(3) { left: 45%; opacity: 0.6; }
.slash-group .slash-item:nth-child(4) { left: 60%; opacity: 0.4; }
.slash-group .slash-item:nth-child(5) { left: 75%; opacity: 0.4; }

.slash-group.active .slash-item:nth-child(1) {
  animation: arrow-flicker .5s ease-in-out infinite; 
}
.slash-group.active .slash-item:nth-child(2) {
  animation: arrow-flicker .5s ease-in-out infinite .1s; 
}
.slash-group.active .slash-item:nth-child(3) {
  animation: arrow-flicker .5s ease-in-out infinite .2s; 
}
.slash-group.active .slash-item:nth-child(4) {
  animation: arrow-flicker .5s ease-in-out infinite .3s; 
}
.slash-group.active .slash-item:nth-child(5) {
  animation: arrow-flicker .5s ease-in-out infinite .4s; 
}

.btn--prev {
  position: absolute;
  width: 6.6%;
  height: 4%;
  bottom: 2%;
  left: 2%;
  cursor: pointer;
}
.btn--next {
  position: absolute;
  width: 6.6%;
  height: 4%;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
}
.slide-fade-enter-active {
  transition: opacity 0.5s ease;
  opacity: 1;
}
.slide-fade-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}

.upward-fade-enter-active {
  transition: all 0.5s ease;
  opacity: 1;
}
.upward-fade-leave-active {
  transition: all 0.01s ease;
}
.upward-fade-enter {
  transform: translateY(20px);
  opacity: 0;
}
.upward-fade-leave-to /* .upward-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}


@keyframes arrow-flicker {
  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}

@keyframes rotate-in {
  0% {
  transform: rotate(-360deg) scale(0);
  }
  50% {
  transform: rotate(-360deg) scale(0.1);
  }
  100% {
  transform: rotate(0) scale(1);
  }
}

@keyframes rotate-ball {
  0% {
  transform: rotate(360deg);
  }
  50% {
  transform: rotate(0);
  }
  100% {
  transform: rotate(-360deg);
  }
}


</style>