<template>
  <div class="products-main">
    <!-- return & title 0s -->
    <transition name="slide-fade">
      <img v-if="timeUsed > 200" class="title" src="~@/assets/products/header.svg">
    </transition>

    <transition name="slide-fade">
      <img v-if="timeUsed > 400" class="btn-back" src="~@/assets/common/back-button.svg" @click="backPressed">
    </transition>

    <div class="caption">
      <transition-group name="slide-fade">
        <img v-if="timeUsed > 600" key="caption-bg" class="caption__bg" src="~@/assets/products/1/caption-layout.svg" alt="">
        <img v-if="timeUsed > 800" key="caption-text" class="caption__text" src="~@/assets/products/1/caption-text.svg" alt="">
        <img v-if="timeUsed > 1000" key="caption-icon" class="caption__icon" src="~@/assets/products/1/caption-icon.svg" alt="">
      </transition-group>
    </div>

    <div class="content">
      <transition-group name="slide-fade">
        <img v-if="timeUsed > 1200" key="content-bg" class="content__bg" src="~@/assets/products/1/content-bg.svg" alt="">
        <img v-if="timeUsed > 1400" key="content-groups" class="content__groups" src="~@/assets/products/1/content-groups.svg" alt="">
        <img v-if="timeUsed > 1400" key="content-ball" class="content__ball" src="~@/assets/products/1/content-ball.svg" alt="">
        <img v-if="timeUsed > 1400" key="content-text" class="content__text" src="~@/assets/products/1/content-text.svg" alt="">
        <div v-if="timeUsed > 1600" key="content-arrow" class="content__arrow">
          <img src="~@/assets/products/1/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/1/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/1/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/1/arrow-right.svg" alt="" class="arrow">
          <img src="~@/assets/products/1/arrow-right.svg" alt="" class="arrow">
        </div>
      </transition-group>
    </div>
    <img v-if="timeUsed > 2000"  class="btn--prev" src="~@/assets/products/prev.svg" @click="backPressed">
    <img v-if="timeUsed > 2000"  class="btn--next" src="~@/assets/products/next.svg" @click="() => listContent('ProductsPage2')">
  </div>
</template>

<script>
import "@/common/font/font.css"

export default {
  name: 'Products',
  data () {
    return {
      timeUsed: 0
    }
  },
  watch: {
    timeUsed(val) {
      setTimeout(() => {
        this.timeUsed += 200
      }, 200)
    }
  },
  mounted () {
    setTimeout(() => {
      this.timeUsed += 200
    }, 200)
  },
  methods: {
    listContent (type) {
      // 传入每个组建对应名称
      this.$emit('listContent', type, true)
    },
    backPressed() {
      window.location.reload()
    },
  },
}
</script>


<style scoped>

.products-main{
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.title {
  position: absolute;
  top: 0;
  left: 3.7%;
  width: 96.30%;
  z-index: 2;
}
.btn-back {
  position: absolute;
  top: 2.6%;
  left: 2%;
  width: 6.615%;
  height: 4.074%;
  cursor: pointer;
  z-index: 3;
}

.caption {
  position: absolute;
  left: 9%;
  top: 17%;
  width: 82%;
  height: 16.6666667%;
}
.caption__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.caption__text {
  position: absolute;
  width: 74.12%;
  height: 56%;
  top: 22%;
  left: 14%;
}
.caption__icon {
  position: absolute;
  width: 7.556675%;
  height: 66.666666%;
  left: 3%;
  top: 17%;
}

.content {
  position: absolute;
  left: 8%;
  top: 38.5%;
  width: 84%;
  height: 51.85%;
}
.content__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content__groups {
  position: absolute;
  width: 37.82%;
  height: 64%;
  top: 18%;
  left: 5%;
}
.content__ball {
  position: absolute;
  width: 30.475%;
  height: 88.2143%;
  top: 5%;
  right: 7%;
  animation: rotate-ball 8s ease infinite;
}
.content__arrow {
  position: absolute;
  width: 10.86%;
  height: 8.6%;
  top: 46%;
  left: 49%;
  /* margin-left: -5.43%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  height: 100%;
  width: 20%;
}
.arrow:nth-child(1) { animation: arrow-flicker .5s ease-in-out infinite; }
.arrow:nth-child(2) { animation: arrow-flicker .5s ease-in-out infinite .1s; }
.arrow:nth-child(3) { animation: arrow-flicker .5s ease-in-out infinite .2s; }
.arrow:nth-child(4) { animation: arrow-flicker .5s ease-in-out infinite .3s; }
.arrow:nth-child(5) { animation: arrow-flicker .5s ease-in-out infinite .4s; }
.content__text {
  position: absolute;
  width: 15.114%;
  height: 8.2%;
  bottom: 10%;
  right: 14.5%;
}

.btn--prev {
  position: absolute;
  width: 6.6%;
  height: 4%;
  bottom: 2%;
  left: 2%;
  cursor: pointer;
}
.btn--next {
  position: absolute;
  width: 6.6%;
  height: 4%;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
}
.slide-fade-enter-active {
  transition: opacity 0.5s ease;
  opacity: 1;
}
.slide-fade-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}

.upward-fade-enter-active {
  transition: all 0.5s ease;
  opacity: 1;
}
.upward-fade-leave-active {
  transition: all 0.01s ease;
}
.upward-fade-enter {
  transform: translateY(20px);
  opacity: 0;
}
.upward-fade-leave-to /* .upward-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}


@keyframes arrow-flicker {
  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}

@keyframes rotate-in {
  0% {
  transform: rotate(-360deg) scale(0);
  }
  50% {
  transform: rotate(-360deg) scale(0.1);
  }
  100% {
  transform: rotate(0) scale(1);
  }
}

@keyframes rotate-ball {
  0% {
  transform: rotate(360deg);
  }
  50% {
  transform: rotate(0);
  }
  100% {
  transform: rotate(-360deg);
  }
}


</style>