<!DOCTYPE html>
<html style="background-color: #01132A;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="static/css/bulma.min.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="static/css/fontawesome5.4.2.min.css"/> -->
    <!-- <style src="@/common/font/font.css"></style> -->
    <title>壹企银</title>
    <!-- <script src=<%= htmlWebpackPlugin.options.path %>/js/jquery.min.js></script> -->
    <!-- <script src=<%= htmlWebpackPlugin.options.path %>/js/jquery.fadequeue.min.js></script> -->
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
