.multiple-select .option-highlight::after {
    position: absolute;
    right: 20px;
    content: "✓";
    font-size: 12px;
    font-weight: 700;
}
.v-modal{
    opacity:0.6;
}
.el-dialog{
    background: rgba(0,0,0,0);
}
::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb{
  border-radius: 1em;
  background-color: rgba(50,50,50,.3);
}
::-webkit-scrollbar-track{
  border-radius: 1em;
  background-color: rgba(50,50,50,.1);
}
.activeClass {
    -webkit-animation-name: animat; -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
@-webkit-keyframes animat {
    from { background-color: #296788; -webkit-box-shadow: 0 0 9px #296788; }
    50% { background-color: rgba(19, 58, 78, .5); -webkit-box-shadow: 0 0 27px #477F9D; }
    to { background-color: #296788; -webkit-box-shadow: 0 0 9px #296788; }
}