<template>
  <div class="home-page" id='home-page'>
    <div id="content" class="content" ref="content" v-if="componentId !== 'bayareaHome'">
      <div style="height: 100%; width: 100%;">
        <div style="height: 100%; width: 100%;" :is="componentId" @listContent="listContent"></div>
      </div>
    </div>
    <div v-else :is='componentId' @listContent="listContent"></div>
  </div>
</template>


<script>
/* Products page views */
import Products from '@/components/products/Products'
import ProductsPage2 from '@/components/products/ProductsPage2'
import ProductsPage3 from '@/components/products/ProductsPage3'
import ProductsPage4 from '@/components/products/ProductsPage4'

export default {
  name: 'Main',
  components: {
    Products,
    ProductsPage2,
    ProductsPage3,
    ProductsPage4,
  },
  data () {
    return {
      componentId: 'Products',

      animateStatus: false,
      showDialog_fushen: false,
      showDialog_fushenjianyi: false
    };
  },
  watch: {
    animateStatus: {
　　　　handler(newValue, oldValue) {
        if (newValue) {
          this.timer = setTimeout(() => {
            this.showBot = true
          }, 500);
        }
      },
      deep: true
    }
  },
  methods: {
    handleSelect (icon) {
      this.selectIcon = icon
      this.componentId = icon
    },
    listContent (type, animateStatus) {
      console.log(1,type)
      if (type === 'Report' || type == 'fkcg') {
        // this.showDialog_fushen=false
        this.showReport = true
      } else {
        this.showReport = false
      }
      this.$nextTick(() => {
        this.animateStatus = animateStatus
        this.selectIcon = type
        this.componentId = type
      })
    },
    reportHandleSelect (item) {
      this.reportSelectIncon = item.icon
      this.componentId = item.text
    },
    /*selectTop (item) {
      this.showReport = false
      this.componentId = item
    },*/
    // 返回首页
    backHome () {
      // this.componentId = 'home'
      // this.animateStatus = false
      // this.showBot = false
      // clearTimeout(this.timer)：
      // this.showReport = false
      window.location.reload();
    },
    handleClose() {
        this.showDialog = false
    }
  }
}
</script>
<style scoped>
.top-box{
  height: 160px;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  line-height: 160px;
  box-sizing: border-box;
  padding: 0 60px;

}
.hid-bottom{
  visibility: hidden;
}
.top-list{
  /* display: inline-block; */
  float: right;
  padding-top: 30px;
}
.top-list img {
  margin-left: 20px;
}
.top-logo{
    vertical-align: middle;
  }
.home-page {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.content {
  /* background: url(~@/assets/mengbg.png) no-repeat center bottom; */
  width: 100%;
  height: 100%;
}
.show-bottom{
  animation: a1 linear 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.hidden-bottom{
  background: #ff0000;
  animation: a1 linear 0s;
  display: none;
}
@keyframes a1 {
  0% {
    opacity: 0;
    bottom: -110px;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
.bottom-ul{
    list-style-type:none;
    display:inline;
}
.bottom-ul li{
  width: 63px;
  height: 69px;
  display: inline-block;
  margin-right: 83px;
}
.bottom-ul li img {
  width: 63px;
  height: 69px;
  vertical-align: middle;
}
.return {
    position: absolute;
    left: 40;
    bottom: 37px;
}
.return img {
    cursor:pointer;
    width: 100%;
    height: 100%;
    objec-fit: cover;
}
.recheck {
  position: absolute;
  right: 56px;
  bottom: 35px;
  width: 131px;
  height: 55px;
}
.click1, .click2,.click3 {
  position: absolute;
  bottom: -6px;
  width: 207px;
  height: 95px;
}
.click1 {
  left: 660px;
}
.click2 {
  left: 867px;
}
.click3 {
  left: 1074px;
}
.show {
  visibility: hidden;
}
.mengban {
  position: absolute;
  left: 0px;
  bottom: -30px;
  width: 1920px;
  height: 199px;
  z-index: 1;
}
.page-dialog {
  position: absolute;
  left: 400px;
  top: 353px;
  width: 1125px;
  height: 416px;
  box-shadow: 0 0 135px 0 rgba(0, 0, 0, 0.5),
    inset 0 0 23px 0 rgba(51, 76, 209, 0.3);
}
.close-btn {
  position: absolute;
  left: 881px;
  top: 805px;
  width: 164px;
  height: 46px;
}
.fushen-dialog {
  top: 230px;
}
.fushen-dialog {
  top: 230px;
}
.fushen-dialog .btn {
  position: absolute;
  left: 425px;
  top: 400px;
  cursor: pointer;
}
.fsjy-dialog {
  top: 345px;
  left: 509px;
}
.fsjy-dialog .btn {
  position: absolute;
  left: 293px;
  top: 298px;
  cursor: pointer;
}
</style>
