<template>
  <div class="home_main">
    <div class="container">
      <transition name="slide-fade">
        <img v-if="title" class="title" src="~@/assets/bayareaHome/title.png">
      </transition>
      
      <transition-group name="slide-fade">
        <img v-if="slogan_bg" v-bind:key="1" class="slogan-bg" src="~@/assets/bayareaHome/slogan-bg.png">
        <img v-if="slogan" v-bind:key="2" class="slogan" src="~@/assets/bayareaHome/slogan.png">
      </transition-group>

      <transition-group name="slide-fade">

        <img v-if="rect" v-bind:key="1"  class="rect" src="~@/assets/bayareaHome/value-bg.png" alt srcset>
        <img v-if="rect_title" v-bind:key="2" class="rect-title" src="~@/assets/bayareaHome/value-title.png" alt srcset> 
        
        <img v-if="section_rect" v-bind:key="3" class="section-rect-1" src="~@/assets/bayareaHome/data-rect.png" alt srcset> 
        <img v-if="section_rect" v-bind:key="4" class="section-rect-2" src="~@/assets/bayareaHome/data-rect.png" alt srcset> 
        <img v-if="section_rect" v-bind:key="5" class="section-rect-3" src="~@/assets/bayareaHome/data-rect.png" alt srcset> 
        <img v-if="section_rect" v-bind:key="6" class="section-rect-4" src="~@/assets/bayareaHome/data-rect.png" alt srcset> 

      </transition-group>

      <transition-group name="slide-fade">

        <img v-if="icon" v-bind:key="1" class="icon-anchor" src="~@/assets/bayareaHome/anchor.png">
        <img v-if="icon" v-bind:key="2" class="icon-monitor" src="~@/assets/bayareaHome/monitor.png">
        <img v-if="icon" v-bind:key="3" class="icon-company" src="~@/assets/bayareaHome/company.png">
        <img v-if="icon" v-bind:key="4" class="icon-finance" src="~@/assets/bayareaHome/finance.png">


        <img v-if="line1" v-bind:key="5" class="line1" src="~@/assets/bayareaHome/line-1.png"> 


        <img v-if="line2 && text1" v-bind:key="6" class="text1" src="~@/assets/bayareaHome/text1.png"> 
        <img v-if="line2 && text2" v-bind:key="7" class="text2" src="~@/assets/bayareaHome/text2.png"> 
        <img v-if="line2 && text3" v-bind:key="8" class="text3" src="~@/assets/bayareaHome/text3.png"> 
        <img v-if="line2 && text4" v-bind:key="9" class="text4" src="~@/assets/bayareaHome/text4.png"> 

      </transition-group>

      <transition-group name="slide-fade">
        <img v-if="footer_bg" class="footer-bg" v-bind:key="1" src="~@/assets/bayareaHome/footer-bg.png">
        <img v-if="footer_btn" v-bind:key="2" class="footer-btn-1" style="cursor:pointer" src="~@/assets/bayareaHome/footer-btn-l.png" @click="listContent('blockchainConnect')">
        <img v-if="footer_btn" v-bind:key="3" class="footer-btn-2" style="cursor:pointer" src="~@/assets/bayareaHome/footer-btn-m.png" @click="listContent('portProcess')">
        <img v-if="footer_btn" v-bind:key="4" class="footer-btn-3" style="cursor:pointer" src="~@/assets/bayareaHome/footer-btn-r.png" @click="listContent('longpage2')">
        <img v-if="footer_btn" v-bind:key="5" class="footer-btn-4" style="cursor:pointer" src="~@/assets/bayareaHome/footer-btn-4.png" @click="listContent('finance')">
      </transition-group>


      <div v-if="footer_btn" class="arrow_container_1" @click="listContent('blockchainConnect')" style="cursor:pointer" >

        <div class="mouse_scroll left">
              <span class="l_scroll_arrows unu"></span>
              <span class="l_scroll_arrows doi"></span>
              <span class="l_scroll_arrows trei"></span>
        </div>

        <div class="mouse_scroll right">
              <span class="r_scroll_arrows trei"></span>
              <span class="r_scroll_arrows doi"></span>
              <span class="r_scroll_arrows unu"></span>
        </div>
    
      </div>

      <div v-if="footer_btn" class="arrow_container_2" @click="listContent('portProcess')" style="cursor:pointer" >

        <div class="mouse_scroll left">
              <span class="l_scroll_arrows unu"></span>
              <span class="l_scroll_arrows doi"></span>
              <span class="l_scroll_arrows trei"></span>
        </div>

        <div class="mouse_scroll right">
              <span class="r_scroll_arrows trei"></span>
              <span class="r_scroll_arrows doi"></span>
              <span class="r_scroll_arrows unu"></span>
        </div>
    
      </div>

          
      <div v-if="footer_btn" class="arrow_container_3" @click="listContent('longpage2')" style="cursor:pointer" >

        <div class="mouse_scroll left">
              <span class="l_scroll_arrows unu"></span>
              <span class="l_scroll_arrows doi"></span>
              <span class="l_scroll_arrows trei"></span>
        </div>

        <div class="mouse_scroll right">
              <span class="r_scroll_arrows trei"></span>
              <span class="r_scroll_arrows doi"></span>
              <span class="r_scroll_arrows unu"></span>
        </div>
      </div>

      <div v-if="footer_btn" class="arrow_container_4" @click="listContent('finance')" style="cursor:pointer" >

        <div class="mouse_scroll left">
              <span class="l_scroll_arrows unu"></span>
              <span class="l_scroll_arrows doi"></span>
              <span class="l_scroll_arrows trei"></span>
        </div>

        <div class="mouse_scroll right">
              <span class="r_scroll_arrows trei"></span>
              <span class="r_scroll_arrows doi"></span>
              <span class="r_scroll_arrows unu"></span>
        </div>
      </div>

    </div>
  </div>
</template>

<script>

let timer1;
let timer2;
let timer3;
let timer4;
let timer5;
let timer6;
let timer7;
let timer8;
let timer9;
let timer10;
let timer11;
let timer12;
let timer13;
let timer14;


export default {
  name: "bayareaHome", // 首页
  data() {
    return {
      active: false,
      title: false,
      slogan_bg: false,
      slogan: false,
      rect: false,
      rect_title: false,
      section_rect: false,
      icon: false,
      line1: false,
      line2: false,
      text1: false,
      text2: false,
      text3: false,
      text4: false,
      footer_bg: false,
      footer_btn: false
    };
  },
  beforeDestroy() {
    window.clearTimeout(timer1);
  },
  watch: {},
  mounted() {
    timer1 = window.setTimeout(() => {
      this.title = true;
    }, 300);
    timer2 = window.setTimeout(() => {
      this.slogan_bg = true;
    }, 600);
    timer3 = window.setTimeout(() => {  
      this.slogan = true;
    }, 900);
    timer4 = window.setTimeout(() => {
      this.rect = true;
    }, 1200);
    timer5 = window.setTimeout(() => {
      this.rect_title = true;
    }, 1500);
    timer6 = window.setTimeout(() => {
      this.section_rect = true;
    }, 1800);
    timer7 = window.setTimeout(() => {
      this.icon = true;
    }, 2100);
    timer8 = window.setTimeout(() => {
      this.line1 = true;
    }, 2400);
    timer9 = window.setTimeout(() => {
      this.line2 = true;
      this.text1 = true;
    }, 2700);
    timer10 = window.setTimeout(() => {
      this.text2 = true;
    }, 2900);
    timer11 = window.setTimeout(() => {
      this.text3 = true;
    }, 3100);
    timer12 = window.setTimeout(() => {
      this.text4 = true;
    }, 3300);
    timer13 = window.setTimeout(() => {
      this.footer_bg = true;
    }, 3600);
    timer14 = window.setTimeout(() => {
      this.footer_btn = true;
    }, 3900);
  },
  beforeDestroy() {
    window.clearTimeout(timer1);
    window.clearTimeout(timer2);
    window.clearTimeout(timer3);
    window.clearTimeout(timer4);
    window.clearTimeout(timer5);
    window.clearTimeout(timer6);
    window.clearTimeout(timer7);
    window.clearTimeout(timer8);
    window.clearTimeout(timer9);
    window.clearTimeout(timer10);
    window.clearTimeout(timer11);
    window.clearTimeout(timer12);
    window.clearTimeout(timer13);
    window.clearTimeout(timer14);

  },
  listContent(type) {
    // 传入每个组建对应名称
    this.$emit("listContent", type, true);
  },
  methods: {
    listContent(type) {
      // 传入每个组建对应名称
      this.$emit("listContent", type, true);
    },
  }
};

</script>

<style scoped>

.home_main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  
  background-repeat: no-repeat;
  background-size: 100%;
}

.title {
  position: absolute;
  width: 1780px;
  height: 85px;
  top: 5px;
  left: 71px;
}

.slogan-bg{
  position: absolute;
  width: 1694px;
  height: 100px;
  top: 113px;
  left: 116px;
}
.slogan{
  position: absolute;
  width: 1200px;
  height: 40px;
  top: 143px;
  left: 355px;
}

.rect{
  position: absolute;
  width: 1987px;
  height: 689px;
  top: 206px;
  left: -33px;
  z-index: 100;
}

.rect-title{
  position: absolute;
  width: 1676px;
  height: 65px;
  top: 291px;
  left: 132px;
  z-index: 101;
}

.section-rect-1{
  position: absolute;
  left: 180px;
  top: 392px;
  width: 360px;
  z-index: 101;
}

.section-rect-2{
  position: absolute;
  left: 580px;
  top: 392px;
  width: 360px;
  z-index: 101;
}

.section-rect-3{
  position: absolute;
  left: 980px;
  top: 392px;
  width: 360px;
  z-index: 101;
}

.section-rect-4{
  position: absolute;
  left: 1380px;
  top: 392px;
  width: 360px;
  z-index: 101;
}


.icon-anchor{
  position: absolute;
  z-index: 999;
  top:420px;
  left:336px;
  width: 48px;
  height: 48px;
}

.icon-monitor{
  position: absolute;
  z-index: 102;
  top:420px;
  left:736px;
  width: 48px;
  height: 48px;
  }

.icon-company{
  position: absolute;
  z-index: 102;
  top:420px;
  left:1136px;
  width: 48px;
  height: 48px;

}

.icon-finance{
  position: absolute;
  z-index: 102;
  top:420px;
  left:1536px;
  width: 48px;
  height: 48px;
}

.line1{
  position: absolute;
  z-index: 102;
  top:482px;
  left:295px;
  width: 1328px;
  /* height: 45px; */
}

.footer-bg{
  position: absolute;
  left: 0px;
  top:963px;
}

.footer-btn-1{
  position: absolute;
  z-index: 201;
  left: 60px;
  top:897px;
}

.footer-btn-2{
  position: absolute;
  z-index: 201;
  left: 518px;
  top: 897px;
}

.footer-btn-3{
  position: absolute;
  z-index: 201;
  left: 976px;
  top:897px;
}

.footer-btn-4{
  position: absolute;
  z-index: 201;
  left: 1434px;
  top:897px;
}

/* 设置淡入动画函数 */
.slide-fade-enter-active {
  transition: all 0.5s ease;
  opacity: 1;
}
.slide-fade-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}


/* 箭头们 */

.arrow_container_1{
  display: flex;
  width:595px;

  position: absolute;
  z-index: 202;
  top: 959px;
  left: -22px;
}

.arrow_container_2{
  display: flex;
  width:595px;

  position: absolute;
  z-index: 202;
  top: 959px;

  left: 440px;
}

.arrow_container_3{
  display: flex;
  width:595px;

  position: absolute;
  z-index: 202;
  top: 959px;

  left: 895px;

}

.arrow_container_4{
  display: flex;
  width:595px;

  position: absolute;
  z-index: 202;
  top: 959px;

  left: 1355px;

}

.text1{
  position: absolute;
  z-index: 200;
  left: 274px;
  top: 585px;
}

.text2{
  position: absolute;
  z-index: 200;
  left: 674px;
  top: 585px;
}

.text3{
  position: absolute;
  z-index: 200;
  left: 1046px;
  top: 585px;
}

.text4{
  position: absolute;
  z-index: 200;
  left: 1474px;
  top: 585px;
}


.mouse_scroll {
	display: flex;
  
	margin: 0 auto;
	width: 100px;
	height: 24px;
	margin-left: 125px;
}

.unu{
  margin-top: -5px;
}

.l_scroll_arrows
{
  display: flex;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
   
  border-right: 4px solid #B2E1F7;
  border-bottom: 4px solid #B2E1F7;
/*   margin: 0 0 3px 4px; */
  margin-left: -5px;
  width: 16px;
  height: 16px;
}

.r_scroll_arrows
{
  display: flex;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-225deg);
   
  border-right: 4px solid #B2E1F7;
  border-bottom: 4px solid #B2E1F7;
/*   margin: 0 0 3px 4px; */
  margin-left: -5px;
  width: 16px;
  height: 16px;
}



.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}



@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}


</style>
