<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style>
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  html, body {
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background: url(~@/assets/bg.png);
    background-size: 100% 100%;
  }
  #app {
    width: 100%;
    height: 100%;
    /* width: 100vw;
    height: 56.25vw; */
  }
  .bg{ float: left;margin: 10px;}
  .left{float: left;}

</style>
